Repository sjeohp-zz/actions-test, changes with the labels that .github/labeler.yml gives for each.
All labels: label1, label2

add otherfile.txt
  other-dir/otherfile.txt
Labels: label2

change file1
  example-dir/file1.txt
Labels: label1

add workflow
  .github/workflows/labeler.yml
Labels: none

add some other change
  other-dir/otherfile.txt
Labels: label2

testing 4
  README.md
Labels: none

greeter
  .github/workflows/labeler.yml
Labels: none

testing 5
  README.md
Labels: none

workflow change
  .github/workflows/labeler.yml
  .github/workflows/main.yml
Labels: none

testing 3
  README.md
Labels: none

use rust-docker-action
  .github/workflows/main.yml
Labels: none

rust-docker-action@v1
  .github/workflows/.main.yml.swp
  .github/workflows/main.yml
Labels: none

use published action
  .github/workflows/.main.yml.swp
  .github/workflows/main.yml
Labels: none

v
  .github/workflows/.main.yml.swp
  .github/workflows/main.yml
Labels: none

name
  .github/workflows/.main.yml.swp
  .github/workflows/main.yml
Labels: none

v1.0
  .github/workflows/.main.yml.swp
  .github/workflows/main.yml
Labels: none

-test
  .github/workflows/.main.yml.swp
  .github/workflows/main.yml
Labels: none

.github/labeler.yml:

label1:
    - example-dir/**/*

label2:
    - other-dir/**/*
